:root {
    /** Color palette **/
    --black: #303030;
    --cream: #e8cec1;
    --boton: #d284f1;
    --primary: #9aadc6;
    --secundario: #98a39b;
    --white: #fff;
    --gray: #c0c0c0;
    --grisclaro: #dfe9f3;
    /* Font size*/
    --main-fsize: 3.8rem
}

/* G l O B A L E S */

html {
    color: var(--black);
    font-size: 62.5%;
    /* 1 rem = 10 px*/
    box-sizing: border-box;
    /*hack para box model*/
    /* scroll-snap-type: y mandatory;
    snap en secciones elegidas*/
}

/*hack para Box-Model*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1 rem = 10 px*/
    font-family: 'Space Mono', monospace;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--white) 100%);
}

.contenedor {
    max-width: 90rem;
    margin: 0 auto;
}

/* Iconos principales*/
.mapa-icon {
    stroke: #47226e;
}

.icono {
    stroke: var(--white);
}

/* botones */
.boton {
    background-color: var(--boton);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    margin-top: 3rem;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 2rem;
    width: 85%;
    transition: background-color .4s;
    border: none;
}

.boton:hover {
    background-color: #503d61;
    cursor: pointer;
}

@media(min-width: 768px) {
    .boton {
        width: auto
    }
}

.sombra {
    background-color: var(--white);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px 0px rgba(176, 176, 176, 1);

}

/** TIPOGRAFÍA DE TITULOS **/
h1 {
    font-size: 3, 8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/* span en titulo */
span {
    font-size: 2rem;
}

/** parrafos **/
p {
    font-size: 1.3rem;
}

/* N A V E G A C I O N - P R I N C I P A L*/
.nav-bg {
    background-color: var(--primary);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media(min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;

    }
}

.navegacion-principal a {
    /* display: block; */
    /*Va a hacer que tomen todo el espacio*/
    text-align: center;
    padding: 1.5rem;
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.4s;
}

.navegacion-principal a:hover {
    background-color: var(--boton);
}

/* H E R O */
.hero {
    background-image: url(../img/clouds.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(154, 173, 198, 0.4);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--white);
}

.ubicacion p {
    color: #303030;
    font-size: 1.2rem;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* S C R O L L - S N A P -- No me gustó
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}*/

/* S E C C I O N - S E R V I C I O S*/


@media(min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 1fr 1fr 1fr*/
        column-gap: 4rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: #47226e;
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.pie {
    text-align: right;
}

.iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* C O N T A C T O */
.formulario {
    background-color: #e6e6e6;
    width: min(60rem, 100%);
    /*utilzar el valor más pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    color: #47226e;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

@media(min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 2rem;
    }
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1/3;
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: ;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}


input,
textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem solid var(--black);
    padding: 1rem;
}

textarea {
    height: 10rem;
}

.enviar .boton {
    width: 100%;
}

.pie {
    text-align: center;
}